*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}
.split1{
    background-color: aqua;
    flex: 1;
    transition: flex 0.5s ease-in;
}
.split2{
    background-color: crimson;
    flex: 1;
    transition: flex 0.5s ease-in;
}

.mouseover{
    flex: 2;  
}