*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 207, 153);
    display: grid;
    place-content: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
.content{
    background-color: rgb(255, 255, 255);
    min-height: 80px;
    padding: 20px;
    width: 140px;
    text-align: center;
    display: grid;
    place-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey, inset 2px 2px 5px grey;
}
.number{
    text-align: center;
    margin-top: 6px;
    font-size: 40px;
}