@mixin  flexstyle($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-around;
    min-height: 400px;
    
}

@mixin Media($size) {
    @if($size > 800px){
    font-size: size(large) 

    }
    @if $size < 800px {
       font-size: size(small) 
        
    }
    
}
